.Logo {
  font-size: 2em;
  line-height: 52px;
  text-decoration: none;
}

p > .Logo {
  font-size: 1.5em;
}

.Logo a:hover, .Logo a:focus {
  text-decoration: none;
}

.Logo .eff {
  color: #d7631c;
  font-family: 'Pacifico', cursive;
  margin-right: 3px;
}

.Logo .that {
  color: #128a6f;
  font-family: 'Seymour One', sans-serif;
  text-transform: uppercase;
}
