.App #Hero .img-responsive {
  margin: auto;
  height: 60vh;
}

#Hero .jumbotron {
  background-color: #a9e7d9;
  margin: 0;
  padding: 0;
}

.hero-row {
  display: flex;
}

.hero-text {
  color: #128a6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
